@font-face {
    font-family: 'dfggothic-suregular';
    /*IE*/
    src: url('../fonts/ie/dfgothic-su-wing-rksj-h-webfont.eot');
    /*Non-IE*/
    src: url('../fonts/dfgothic-su-wing-rksj-h-webfont.ttf') format('truetype');
}

@keyframes move_background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -75% 0;
    }
}

body {
    margin: 0;
}

#roster {
    width: 100%;
    display: inline-block;
    background-image: url('../img/fond_css.png');
    background-size: contain;
    animation: move_background 5s linear infinite;
}

.row {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
}

.black-bar {
    width: 100%;
    background-color: #292929;
}

.perso {
    display: inline-block;
    border: 2px solid #292929;
}

.image-perso {
    display: block;
}

.image-perso, .name {
    width: 7vw;
}

.name {
    background: linear-gradient(180deg, transparent 50%, #292929 50%);
    text-transform: uppercase;
    margin: -10px 0 0 0;
    color: white;
    font-family: 'dfggothic-suregular';
    font-size: 1vw;
    text-shadow: -2px -2px 0 #292929, 2px -2px 0 #292929, -2px 2px 0 #292929, 2px 2px 0 #292929;
    text-align: center;
}