@font-face {
    font-family: 'dfggothic-suregular';
    /*IE*/
    src: url('../fonts/ie/dfgothic-su-wing-rksj-h-webfont.eot');
    /*Non-IE*/
    src: url('../fonts/dfgothic-su-wing-rksj-h-webfont.ttf') format('truetype');
}

.row {
    white-space: nowrap;
    text-align: center;
}

.perso {
    display: inline-block;
    border: 1px solid green;
}

.image-perso, .name {
    width: 8vw;
}

.image-perso {
    display: block;
}

.name {
    font-size: 1vw;
    background: black;
    font-family: 'dfggothic-suregular';
    text-transform: uppercase;
    color: white;
    margin: 0;
    /* font-size: 10px; */
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    text-align: center;
}